/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  top: 0;
  left: 0;
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  flex-direction: flex-end;
}

nav img {
  margin-right: auto;
}
#header-landing {
  margin-top: -20px;
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 18em 0 28em;
  margin-top: 0;
}

h1 {
  text-align: center;
}

.spotify-features {
  display: flex;
  justify-content: space-around;

  text-align: center;
}

#features-header {
  color: #00b172;
}

#bottom-section {
  background-color: #00b172;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#white-logo {
}
